//
// Icons
// -------------------------------------------------- //

.icon {
  position relative
  display inline-block
  width 25px
  height 25px
  overflow hidden
  fill currentColor
  vertical-align baseline
}
[data-icon] {
  display inline-block
}

.icon__cnt {
  width 100%
  height 100%
  background inherit
  fill inherit
  pointer-events none
  transform translateX(0)
  -ms-transform translate(0.5px, -0.3px)
  vertical-align top
}

// UI icons

.icon-search,
[data-icon="icon-search"] {
  width 16px
  height 16px
  vertical-align -3px
}

.icon-share,
[data-icon="icon-share"] {
  width 18px
  height 13px
}

.icon-down-arrow,
[data-icon="icon-down-arrow"] {
  width 12px
  height 6px
  vertical-align 1px
}

.icon-right-arrow,
[data-icon="icon-right-arrow"] {
  width 6px
  height 12px
  vertical-align -1px
}

.icon-thin-right-arrow,
[data-icon="icon-thin-right-arrow"] {
  width 6px
  height 12px
  vertical-align -1px
}

.icon-grid-size-2,
[data-icon="icon-grid-size-2"],
.icon-grid-size-4,
[data-icon="icon-grid-size-4"],
.icon-grid-size-9,
[data-icon="icon-grid-size-9"] {
  width 20px
  height 20px
  vertical-align middle
}

.icon-signup,
[data-icon="icon-signup"] {
  width 23px
  height 18px
}

.icon-signin,
[data-icon="icon-signin"] {
  width 11px
  height 17px
}
