/*
* Scaffolding
* -------------------------------------------------- */


/* Reset the box-sizing
*/
html {
  box-sizing border-box
}
*,
*:before,
*:after {
  box-sizing inherit
}

html {
  font-size 10px
  -webkit-tap-highlight-color rgba(0,0,0,0)
  height 100%
  font-family font-family-base
  color text-color
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
}

body {
  font-size font-size-base
  line-height line-height-base
  background-color body-bg
  height 100%
}


/* Reset fonts for relevant elements */
input,
button,
select,
textarea {
  font-family inherit
  font-size inherit
  line-height inherit
}


 /* Links */

a {
  color link-color
  text-decoration underline
  transition color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out

  &:hover,
  &:focus {
    color link-hover-color
    text-decoration link-hover-decoration
  }
  &:focus {
    outline 0
  }
}


/*  Figures
*
*   We reset this here because previously Normalize had no `figure` margins. This
*   ensures we don't break anyone's use of the element.
*/

figure {
  margin 0
}


 /* Images */

img {
  vertical-align middle
}

 /* Responsive images (ensure images don't scale beyond their parents) */
/* .img-responsive {
  .img-responsive();
} */


/* Horizontal rules */

hr {
  margin-top    10px
  margin-bottom 20px
  border        0
  border-top    1px solid hr-border
}


/*  Only display content to screen readers
*
*   See: http://a11yproject.com/posts/how-to-hide-content/
*/

.sr-only {
  position absolute
  width 1px
  height 1px
  margin -1px
  padding 0
  overflow hidden
  clip rect(0,0,0,0)
  border 0
}

/*  Use in conjunction with .sr-only to only display content when it's focused.
*   Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
*   Credit: HTML5 Boilerplate
*/

.sr-only-focusable {
  &:active,
  &:focus {
    position static
    width auto
    height auto
    margin 0
    overflow visible
    clip auto
  }
}
