//
// Blocks
// -------------------------------------------------- //

.catalog-item {
  position relative
  width 50%
  height 600px
  float left
  background-position center
  background-repeat no-repeat
  background-size cover
  margin-bottom 1px

  .row & {
    @media (max-width: screen-sm-max) {
      height 300px
      float none
      width 100%
    }
  }

  .item-header {
    position absolute
    bottom 50px
    right 0
    width 370px
    padding 35px 60px 30px 35px
    background-color rgba(251,178,14,.63)
    z-index 4

    @media (max-width: screen-md-max) {
      padding 25px 60px 26px 35px

      .item-title {
        margin-bottom 0
      }
      .item-descr {
        padding-top 10px
      }
    }

    @media (max-width: screen-sm-max) {
      width 100%
      bottom 0
    }

    .item-title {
      font-size 2.4rem
      margin 0 0 10px
      color #000
      font-weight bold

      .highlight {
        color #fff
      }
    }
    .collapse-handler {
      position absolute
      right 23px
      top 28px
      display none
      transform rotate(180deg) translateY(3px)

      @media (max-width: screen-lg) {
        display block
      }

      [data-icon],
      [class~="icon"] {
        width 14px
        height 21px
        opacity .5
      }
      &.collapsed {
        transform rotate(0)
      }
    }
    @media (min-width: screen-lg) {
      .collapse {
        display block !important
        height auto !important
      }
    }
    .item-descr {
      p:last-child {
        margin-bottom 0
      }
    }
    .item-price {
      position relative
      font-size 3.6rem
      line-height 1
      font-weight 800
      padding-top 16px
      overflow hidden

      .rub {
        font-size 2.4rem
        vertical-align 9px
        font-weight normal
        margin-left 4px
      }
      &:before {
        content ''
        position absolute
        top 8px
        left 0
        width 32px
        height 1px
        background-color #000
      }
    }
  }
  .overlap-link {
    position absolute
    top 0
    right 0
    left 0
    bottom 0
    z-index 3
    display block
  }
  .badge {
    position absolute
    top 15px
    left 14px
    display inline-block
    background-color brand-primary
    font-size 1.2rem
    line-height 1.3rem
    text-transform uppercase
    font-weight bold
    color #fff
    padding 5px 8px
  }

  &.is-fullsize {
    width 100%
    height 500px
    float none
  }
}

.latest-blog-posts {
  padding 0 30px
  margin-bottom 45px

  > .block-header {
    padding 70px 0 15px
    border-bottom 1px solid #e5e5e5

    @media (max-width: screen-sm-max) {
      padding-top 37px
    }

    .block-title {
      font-size 4.8rem
      line-height 1
      margin 0
    }
  }
  .post {
    padding-top 20px
    padding-bottom 30px
    border-bottom 1px solid #cecfd2

    &:last-child {
      border-bottom none
    }
  }
  .post-future-image {
    position relative
    overflow hidden
    margin-bottom 36px

    @media (max-width: screen-sm-max) {
        height 320px

        img {
          height 100%
          width auto
          max-width none
          position absolute
          top 0
          left 100%
          margin-left -50%
          transform translateX(-50%)
        }
    }

    img {
      display block
      width 100%
      max-width 100%
      height auto
    }
  }
  .post-excerpt {
    margin-bottom 21px

    p:last-child {
      margin-bottom 0
    }
  }
  .post-title {
    font-size 2rem
    font-weight 900

    a {
      text-decoration none
    }
  }
  .post-tags-list {
    list-style none
    margin 0
    padding 0

    li {
      display inline-block
      margin-right 6px
      margin-top 9px
    }
    a {
      display inline-block
      padding 7px 14px 7px 30px
      background-color brand-primary
      color #fff
      text-decoration none
      line-height 16px
      background-image url(../img/static/tag-flag.svg)
      background-position 10px 7px
      background-repeat no-repeat
      background-size 12px 15px

      &:hover {
        background-color mix(brand-primary, #000, 90%)
      }
    }
  }
}

.results-gallery {
  position relative
  float left
  width 50%
  height 650px

  .row & {
    @media (max-width: screen-sm-max) {
      float none
      width 100%

      .gallery-cell .item {
        margin-left 8%
        margin-right 8%
      }
    }
    @media (max-width: 560px) {
      height 1300px

      .gallery-cell {
        height 1300px

        .item {
          flex-grow 1
          margin-left 20%
          margin-right 20%
        }
      }
    }
  }

  .gallery-cell {
    width 100%
    height 650px
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center
    align-content center
    align-items center

    .item {
      position relative
      width 188px
      height 300px
      flex-grow 0
      flex-shrink 0
      flex-basis 188px
      margin 0 5%
      display flex
      flex-direction column
      justify-content center
      align-items center
      letter-spacing 0.02em
      border 3px solid transparent
      transition border-color .3s ease-in-out

      @media (min-width: 1600px) {
        flex-grow 1
        margin 0 8%
      }

      &:hover {
        border-color brand-primary

        .item-header,
        &:before {
          opacity 1
        }
      }
      &:before {
        position absolute
        top 50%
        left 50%
        margin -45px 0 0 -36px
        content 'Заказать'
        text-transform uppercase
        letter-spacing 0.01em
        font-size 1.1rem
        line-height 72px
        font-weight 900
        width 78px
        height 74px
        border-radius 50%
        text-align center
        opacity 0
        background-color rgba(247,190,60,.88)
        transition opacity .3s ease-in-out
      }
    }
    .overlap-link {
      position absolute
      top 0
      right 0
      left 0
      bottom 0
      z-index 3
    }
    .item-image {
      height 180px
      margin-bottom 15px

      img {
        max-width 100%
        max-height 100%
        display block
      }
    }
    .item-title {
      font-size 1.4rem
      font-weight bold
      margin 0 0 8px
    }
  }

  &.is-fullsize {
    width 100%
    float none
    height 347px

    @media (max-width: screen-sm-max) {
      height 650px

      .gallery-cell {
        height 650px

        .item {
          margin-left 8%
          margin-right 8%
        }
      }
    }
    @media (max-width: 560px) {
      height 1300px

      .gallery-cell {
        height 1300px

        .item {
          flex-grow 1
          margin-left 20%
          margin-right 20%
        }
      }
    }
    @media (min-width: 1280px) {
      .item {
        margin 0 5% !important
      }
    }

    .gallery-cell {
      height 347px

      .item {
        margin 0 2.5%
      }
    }
  }
  &.is-squared {
    .gallery-cell {
      display block
      height auto
      clearfix()
    }
    .item {
      width 25%
      float left
      border 0
      border-bottom 1px solid #eaeaea !important

      + .item {
        border-left 1px solid #eaeaea
      }
      .item-header {
        background-color rgba(251,178,14,.82)
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        display flex
        flex-direction column
        justify-content center
        align-items center
        opacity 0
        transition opacity .3s ease-in-out
      }
      .item-image {
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        margin 0
      }
      .item-title {
        font-size 1.8rem
      }
      .item-price {
        font-size 1.8rem
      }
      &:before {
        display none
      }
    }

    &.is-fullsize {
      height auto

      @media (max-width: screen-sm-max) {
        height 650px

        .gallery-cell .item {
          margin 0
        }
      }
      @media (max-width: 560px) {
        height 1300px

        .gallery-cell {
          height 1300px

          .item {
            margin 0
            width 100%
            height 325px
          }
        }
      }

      .item {
        height auto
        padding-top 24.917%
        margin 0 !important

        @media (max-width: screen-sm-max) {
          width 50%
          height 50%
          padding-top 0
        }
      }
    }
  }
}

.show-more-link {
  display block
  background-color brand-primary
  font-size 1.2rem
  font-weight bold
  line-height 1
  padding 22px 0
  text-align center
  text-transform uppercase
  text-decoration none
  color #fff

  [class~="icon"],
  [data-icon] {
    margin-left 9px
    width 7px
    height 12px
    vertical-align -2px
  }
  &:hover {
    color #fff
    background-color mix(brand-primary, #000, 90%)
  }
}

.catalog-single-card {
  padding 0 30px 50px

  .row {
    display table
    width 100%

    @media (max-width: screen-sm-max) {
      display block
      width auto
      margin 0 -30px
    }
  }
  .main-image-col {
    position relative
    width calc(100% - 390px)
    overflow hidden
    display table-cell
    vertical-align top
    padding-right 30px

    @media (max-width: screen-sm-max) {
      height 575px
      display block
    }
    @media (max-width: screen-md-max) {
      width 100%
      padding-right 0

      img {
        position absolute
        width auto
        left 0
        top 0
        max-width none
        height 100%
        min-width 100%
      }
      .send-request-link {
        right 0
      }
    }

    img {
      display block
      width 100%
      max-width 100%
      height auto
    }
    .send-request-link {
      display inline-block
      position absolute
      bottom 35px
      right 30px
      color #000
      text-decoration none
      line-height 1
      padding 12px 20px
      background-color brand-primary

      &:hover {
        background-color mix(brand-primary, #000, 90%)
      }
    }
  }
  .info-col {
    display table-cell
    width 390px
    padding 35px 35px 44px
    vertical-align top
    background-color brand-primary

    @media (max-width: screen-sm-max) {
      width 100%
      display block
      padding 19px 35px

      .item-title {
        font-size 3rem
        margin 0
      }
      .item-descr,
      .item-params,
      .item-share-link,
      .item-price {
        display none
      }
    }
    @media (min-width: screen-md) and (max-width: screen-md-max) {
      width 360px
      min-width 360px
    }

    .item-title {
      font-size 2.4rem
      font-weight bold
      margin 0 0 12px

      .highlight {
        color #fff
      }
    }
    .item-descr {
      p:last-child {
        margin-bottom 0
      }
    }
    .item-params {
      line-height 1
      margin 0
      clearfix()

      &:before {
        content ''
        display block
        width 32px
        height 1px
        background-color #000
        margin 15px 0
      }
      dt {
        clear left
        float left
        margin-right 3px
        font-weight bold
        margin-bottom 4px
      }
      dd {
        float left
        margin-bottom 4px
      }
    }
    .item-share-link {
      display inline-block
      text-decoration none

      &:before {
        content ''
        display block
        width 32px
        height 1px
        background-color #000
        margin 10px 0 12px
      }
      [class~="icon"] {
        margin-right 8px
      }
    }
    .item-price {
      display block
      font-size 3.6rem
      line-height 1
      font-weight 800

      .rub {
        font-size 2.4rem
        vertical-align 9px
        font-weight normal
        margin-left 4px
      }
      &:before {
        content ''
        display block
        width 32px
        height 1px
        background-color #000
        margin 12px 0
      }
    }
  }
  .thumbnails-list {
    position relative
    padding 24px 0 0
    margin 0 0 65px -8px
    list-style none
    clearfix()

    @media (max-width: screen-sm-max) {
      margin-bottom 26px
    }

    li {
      display inline-block
      float left
      margin-right 7px
      padding 5px 6px
      border 3px solid transparent

      &.active {
        border-color brand-primary
      }
      &:last-child {
        margin-right 0
      }
    }
  }
  .complete-descr {
    .item-title {
      font-size 2.4rem
      margin 0 0 20px
      font-weight bold

      @media (max-width: screen-sm-max) {
        display none
      }

      .highlight {
        color brand-primary
      }
    }
    .item-descr {
      column-count 3
      column-width 330px
      column-gap 30px

      p {
        margin 0 0 10px
      }
    }
  }
}

.catalog-single-reviews {
  margin-bottom 70px

  .review-form {
    padding 30px
    background-color #f6f5f5

    legend {
      font-size 2.4rem
      line-height 1
      font-weight bold
      color #000
      border-bottom 0
    }
    .form-group {
      width 540px

      @media (max-width: screen-sm-max) {
        width auto
      }
    }
    textarea.form-control {
      resize vertical
      padding 8px 15px
      min-height 85px
      background-color #f6f5f5
      border-color #e6ebed

      &:focus {
        border-color brand-primary
      }
    }
    .btn {
      button-size(8px, 20px, 1.4rem, 1.45)
    }
  }
  .review-list {
    list-style none
    margin 0
    padding 0
    clearfix()

    .review {
      margin 0 30px
      padding 35px 0 20px
      float left
      width calc(50% - 60px)
      border-top 1px solid #cfd0d7
      clearfix()

      @media (max-width: screen-md) {
        width auto
        float none

        &:nth-child(1) {
          border-top none
        }
      }

      @media (min-width: screen-md + 1) {
        &:nth-child(1),
        &:nth-child(2) {
          border-top none
        }
      }
    }
    .review-author-avatar {
      float left
      margin-right 20px
      border-radius 50%
      border 1px solid #bdbdbd

      img {
        display block
        border-radius 50%
      }
    }
    .review-header {
      margin-left 62px
      overflow hidden
      font-size 1.3rem
      margin-bottom 4px
      padding-top 4px

      .review-author-name {
        font-weight bold
        display inline-block
        color #000

        &:after {
          display inline-block
          content '|\00a0'
          padding 0 3px
        }
      }
      .review-publish-date {
        display inline-block
        color #626262
      }
    }
    .review-body {
      margin-left 62px
      overflow hidden
      color #6c6c6c
    }
  }
  .divider {
    display block
    height 1px
    background-color #e5e5e5
    margin 0 30px 8px
  }
  .load-more-link {
    display inline-block
    margin-left 30px
    text-decoration none
    text-transform uppercase
    font-size 1.2rem
    line-height 1
    font-weight bold

    [class~="icon"],
    [data-icon] {
      margin-left 8px
    }
  }
}

.catalog-single-related {
  padding 0 30px
  margin-bottom 65px

  .block-header {
    padding 0 0 12px
    border-bottom 1px solid #e5e5e5

    .block-title {
      font-size 2.4rem
      font-weight bold
      margin 0
    }
  }
  .block-body {
    border-bottom 1px solid #e5e5e5
    margin-bottom 8px
    clearfix()

    .item {
      float left
      position relative
      margin 32px 0
      padding 0 20px
      min-width 188px
      width 25%
      text-align center
      letter-spacing 0.02em

      @media (max-width: screen-sm-max) {
        padding-left 2.5%
        padding-right 2.5%
      }
      @media (max-width: screen-md-max) {
        width 33.33334%
      }
      @media (max-width: 767px) {
        width 50%
      }

      .item-wrap {
        position relative
        height 300px
        width 100%
        border 3px solid transparent
        transition border-color .3s ease-in-out
        display inline-flex
        align-items center
        justify-content center
        flex-direction column
        flex-wrap nowrap
      }

      &:hover {
        .item-wrap {
          border-color brand-primary
        }

        &:before {
          opacity 1
        }
      }

      &:before {
        position absolute
        top 50%
        left 50%
        margin -48px 0 0 -46px
        content 'Посмотреть'
        text-transform uppercase
        letter-spacing 0.01em
        font-size 1.1rem
        line-height 90px
        font-weight 900
        width 96px
        height 92px
        border-radius 50%
        text-align center
        opacity 0
        background-color rgba(247,190,60,.88)
        transition opacity .3s ease-in-out
      }

      .overlap-link {
        position absolute
        top 0
        right 0
        left 0
        bottom 0
        z-index 3
        display block
      }
      .item-image {
        height 180px
        margin-bottom 15px
        display flex
        flex-direction row
        justify-content center
        align-items center

        img {
          max-width 100%
          max-height 100%
          display block
        }
      }
      .item-title {
        font-size 1.4rem
        font-weight bold
        margin 0 0 8px
      }
      .badge {
        position absolute
        top 15px
        left 14px
        display inline-block
        background-color brand-primary
        font-size 1.2rem
        line-height 1.3rem
        text-transform uppercase
        font-weight bold
        color #fff
        padding 5px 8px
      }
    }
  }
  .load-more-link {
    display inline-block
    text-decoration none
    text-transform uppercase
    font-size 1.2rem
    line-height 1
    font-weight bold

    [class~="icon"],
    [data-icon] {
      margin-left 8px
    }
  }
}

.catalog-results {
  padding 0 30px
  margin-bottom 60px

  .site-content &:first-of-type {
    padding-top 30px
  }

  .block-header {
    padding 0 0 12px
    border-bottom 1px solid #e5e5e5
    clearfix()

    .block-title {
      font-size 2.4rem
      font-weight bold
      margin 0
      width 80%
      float left
    }
    .filters-handler {
      color rgba(0,0,0,.5)
      font-size 1.8rem
      line-height 2rem
      float right
      text-decoration none
      border-bottom 2px dotted
      display none

      @media (max-width: screen-md) {
        display block
      }
    }
  }
  .block-body {
    .results-list {
      clearfix()
    }
    .filter-panel {
      padding 16px 0 17px
      border-bottom 1px solid #e5e5e5
      letter-spacing 0.02em
      clearfix()

      .pages-count {
        font-size 1.2rem
        line-height 2rem
        float left
      }
      .previews-sizes {
        float right
        color #999d9f
        font-size 1.2rem
        line-height 2rem

        .label {
          display inline-block
          vertical-align middle
          margin-right 15px
        }
        a {
          display inline-block
          margin-right 7px
          text-decoration none
          color #999d9f

          &:last-child {
            margin-right 0
          }
          &.active {
            color brand-primary
          }
        }
      }
    }
    .item {
      float left
      position relative
      margin 32px 0
      padding 0 20px
      min-width 188px
      width 20%
      text-align center
      letter-spacing 0.02em

      @media (max-width: screen-sm-max) {
        padding-left 2.5%
        padding-right 2.5%
      }
      @media (max-width: screen-md-max) {
        width 33.33334%
      }
      @media (max-width: 767px) {
        width 50%
      }

      .item-wrap {
        position relative
        height 300px
        width 100%
        border 3px solid transparent
        transition border-color .3s ease-in-out
        display inline-flex
        align-items center
        justify-content center
        flex-direction column
        flex-wrap nowrap
      }

      &:hover {
        .item-wrap {
          border-color brand-primary
        }

        &:before {
          opacity 1
        }
      }

      &:before {
        position absolute
        top 50%
        left 50%
        margin -48px 0 0 -46px
        content 'Посмотреть'
        text-transform uppercase
        letter-spacing 0.01em
        font-size 1.1rem
        line-height 90px
        font-weight 900
        width 96px
        height 92px
        border-radius 50%
        text-align center
        opacity 0
        background-color rgba(247,190,60,.88)
        transition opacity .3s ease-in-out
        z-index 2
      }

      .overlap-link {
        position absolute
        top 0
        right 0
        left 0
        bottom 0
        z-index 3
        display block
      }
      .item-image {
        height 180px
        margin-bottom 15px
        display flex
        flex-direction row
        justify-content center
        align-items center

        img {
          max-width 100%
          max-height 100%
          display block
        }
      }
      .item-title {
        font-size 1.4rem
        font-weight bold
        margin 0 0 8px
      }
      .badge {
        position absolute
        top 15px
        left 14px
        display inline-block
        background-color brand-primary
        font-size 1.2rem
        line-height 1.3rem
        text-transform uppercase
        font-weight bold
        color #fff
        padding 5px 8px
      }
    }
  }
  .block-footer {
    padding-top 13px
    border-top 1px solid #e5e5e5
    clearfix()
  }
  .load-more-link {
    display inline-block
    float left
    text-decoration none
    text-transform uppercase
    font-size 1.2rem
    line-height 1
    font-weight bold

    [class~="icon"],
    [data-icon] {
      margin-left 8px
    }
  }
  .show-only-link {
    display inline-block
    float right
    color brand-primary
    text-decoration none
    text-transform uppercase
    font-size 1.2rem
    line-height 1
    font-weight bold

    [class~="icon"],
    [data-icon] {
      margin-left 8px
    }

    &:hover {
      color mix(brand-primary, #000, 90%)
    }
  }
}

.blog-results {
  padding 0 30px
  margin-bottom 60px

  .block-header {
    padding 0 0 12px
    border-bottom 1px solid #e5e5e5

    .block-title {
      font-size 2.4rem
      font-weight bold
      margin 0
    }
  }
  .post {
    padding-top 20px
    padding-bottom 30px
    border-bottom 1px solid #cecfd2

    &:last-child {
      border-bottom none
    }
  }
  .post-future-image {
    position relative
    overflow hidden
    margin-bottom 36px

    @media (max-width: screen-sm-max) {
        height 320px

        img {
          height 100%
          width auto
          max-width none
          position absolute
          top 0
          left 100%
          margin-left -50%
          transform translateX(-50%)
        }
    }

    img {
      display block
      width 100%
      max-width 100%
      height auto
    }
  }
  .post-excerpt {
    margin-bottom 21px

    p:last-child {
      margin-bottom 0
    }
  }
  .post-title {
    font-size 2rem
    font-weight 900

    a {
      text-decoration none
    }
  }
  .post-tags-list {
    list-style none
    margin 0
    padding 0

    li {
      display inline-block
      margin-right 6px
      margin-top 9px
    }
    a {
      display inline-block
      padding 7px 14px 7px 30px
      background-color brand-primary
      color #fff
      text-decoration none
      line-height 16px
      background-image url(../img/static/tag-flag.svg)
      background-position 10px 7px
      background-repeat no-repeat
      background-size 12px 15px

      &:hover {
        background-color mix(brand-primary, #000, 90%)
      }
    }
  }
  .block-footer {
    padding-top 13px
    border-top 1px solid #e5e5e5
    clearfix()
  }
  .load-more-link {
    display inline-block
    float left
    text-decoration none
    text-transform uppercase
    font-size 1.2rem
    line-height 1
    font-weight bold

    [class~="icon"],
    [data-icon] {
      margin-left 8px
    }
  }
  .show-only-link {
    display inline-block
    float right
    color brand-primary
    text-decoration none
    text-transform uppercase
    font-size 1.2rem
    line-height 1
    font-weight bold

    .results-col & {
      float left
    }

    [class~="icon"],
    [data-icon] {
      margin-left 8px
    }

    &:hover {
      color mix(brand-primary, #000, 90%)
    }
  }
}

.catalog-filter {
  border 1px solid #e5e5e5
  margin-bottom 30px

  .block-header {
    position relative
    padding 17px 14px 15px 24px
    cursor pointer

    .block-title {
      line-height 1
      text-transform uppercase
      color #000
      font-size 1.2rem
      font-weight 600
      margin 0

      @media (max-width: screen-md) {
        font-size 1.4rem
      }
    }
    &:before {
      content ''
      display block
      position absolute
      right 14px
      top 19px
      width 10px
      height 5px
      background url(../img/static/down-arrow.svg) no-repeat center/10px 5px
      transition transform .3s
    }
    &.collapsed {
      &:before {
        transform rotate(180deg)
      }
    }
  }
  .block-body {
    ul {
      list-style none
      margin 0 0 8px
      padding 0 0 0 24px

      ul {
        padding-left 14px
      }
    }
    li {
      position relative
      font-size 1.2rem
      margin 1px 0 1px

      @media (max-width: screen-md) {
        font-size 1.4rem
      }

      &:before {
        content ''
        position absolute
        top -1px
        left 0
        width 18px
        height 1px
        background-color #e5e5e5
      }
    }
    a {
      position relative
      display block
      text-decoration none
      padding 11px 0

      &.collapse-handler {
        &:before {
          position absolute
          content ''
          display block
          position absolute
          right 14px
          top 19px
          width 10px
          height 5px
          background url(../img/static/down-arrow.svg) no-repeat center/10px 5px
          transition transform 0.3s
        }
        &.collapsed {
          &:before {
            transform rotate(-90deg)
          }
        }
      }
    }
    label {
      color #8c8c8c
      display block
    }
    .checkbox {
      padding 10px 0
      margin 0
    }
    .slider-group {
      padding 13px 23px 18px

      .slider {
        margin-bottom 27px
      }
      .input-group {
        color #a5a5a5
        clearfix()

        .form-control {
          border-width 1px
          text-align center
          font-size 1.2rem
          font-weight 600
          width 61px
          height 32px
          padding 2px 5px
          float left
        }
        .divider {
          display block
          height 32px
          width 24px
          position relative
          float left

          &:before {
            content ''
            position absolute
            top 15px
            left 3px
            height 1px
            width 18px
            background-color #e5e5e5
          }
        }
        .rub {
          vertical-align -5px
          margin-left 5px
        }
      }
    }
  }
}
