//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 16px 30px 0;
  margin-bottom: 20px;
  list-style: none;

  > li {
    display: inline-block;

    + li:before {
      content: breadcrumb-separator + "\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 3px;
      color: breadcrumb-color;
    }
    a {
      text-decoration none
      color breadcrumb-color

      &:hover {
        color mix(breadcrumb-color, #fff, 90%)
      }
    }
  }

  > .active {
    color: breadcrumb-active-color;
  }
}
