//
// Flickity
// -------------------------------------------------- //

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  padding: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 0;
  cursor: pointer;
  transform: translateY(-50%);
}

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous {
  left: 30px;
  background: url(../img/static/slider-larrow.svg) no-repeat 12px center/11px 20px brand-primary;
}
.flickity-prev-next-button.next {
  right: 30px;
  background: url(../img/static/slider-rarrow.svg) no-repeat 15px center/11px 20px brand-primary;
}

.flickity-prev-next-button:hover:not(:disabled) {
  background-color mix(brand-primary, #000, 90%)
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  display none
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

.flickity-page-dots {
  display none
}
