//
// Layouts
// -------------------------------------------------- //

.site-wrapper {
  position relative
  display flex
  flex-direction column
  min-height 100%
}
.site-content {
  flex-shrink 1
  flex-grow 1

  .row {
    position relative
    clearfix()
  }
  .filters-col {
    float left
    width 210px
    padding-top 33px
    margin-left 30px

    .filters-handler {
      position absolute
      right 16px
      top 22px
      color #000
      width 26px
      height 27px
      display none

      @media (max-width: screen-sm-max) {
        display block
      }

      [data-icon],
      [class~="icon"] {
        width 26px
        height 27px
      }
      &:hover {
        color lignten(#000, 15%)
      }
    }

    @media (max-width: screen-sm-max) {
      display none
      float none
      position absolute
      left 0
      top 0
      bottom 0
      padding 0
      margin 0
      width 100%
      background-color #fff
      z-index 1000

      .catalog-filter {
        width 210px
        border-color transparent
      }

      &.visible {
        display block
      }
    }
  }
  .results-col {
    padding-top 16px
    margin-left 240px
    overflow hidden

    @media (max-width: screen-sm-max) {
      margin-left 0
      overflow visible
    }
  }
}

@import "layouts/site-header"
@import "layouts/site-footer"
