//
// Mobile Navbar
// -------------------------------------------------- //

.mobile-navbar {
  background-color brand-primary

  .navbar-content-wrap {
    padding 38px 30px
  }

  .mobile-search-form {
    margin-bottom 37px

    .form-control {
      background-color transparent
      color #fff
      border-color #fff
      height 56px
      font-size 1.8rem
      line-height 1.265
      padding 14px 68px 14px 26px
      placeholder(#fff)
    }
    .form-group {
      margin 0
    }
    .form-control-feedback {
      width 68px
      height 56px
      line-height 56px
    }
    [data-icon],
    [class~="icon"] {
      width 29px
      height 29px
      color #fff
      vertical-align -9px
    }
  }

  .mobile-nav {
    border-top 1px solid #fbd070
    list-style none
    margin 0
    padding 0
    font-size 2.4rem
    line-height 1

    li {
      display block
      border-bottom 1px solid #fbd070
    }
    a {
      display inline-block
      padding 26px 0
      color #fff
      text-decoration none

      &:hover {
        color darken(#fff, 15%)
        background-color rgba(0,0,0,.1)
      }
    }
    [data-icon="icon-signup"],
    [class~="icon-signup"] {
      width 27px
      height 21px
      margin-right 12px
    }
    [data-icon="icon-signin"],
    [class~="icon-signin"] {
      width 16px
      height 25px
      margin-right 21px
      vertical-align -3px
    }
  }
}
