//
// Modals
// -------------------------------------------------- //

.modal {
  display none
  background-color rgba(255,255,255,.11)
  border 3px solid brand-primary
  z-index 1020 !important
}

.close-modal {
  position relative
  color #fff
  font-weight bold
  text-shadow 1px 1px rgba(47,17,49,.5)
  position absolute
  right -23px
  top -5px
  font-size 2.4rem
  line-height 14px
  display block
  text-decoration none
  text-indent -9999px

  &:before {
    content '\d7'
    position absolute
    top 0
    right 0
    text-indent 0
  }
  &:hover {
    color brand-primary
  }
}

.signup-modal,
.signin-modal,
.catalog-request-modal {
  width 370px
  padding 24px 30px 36px

  .modal-title {
    display block
    color #fff
    margin 0 0 22px
    font-size 2.4rem
    text-transform uppercase
    font-weight bold

    small {
      font-size 1.8rem
      line-height 1.25
      position relative
      margin-top -5px
      color brand-primary
      text-transform none
      display block
    }
  }
  .form-group {
    margin-bottom 8px
  }
  .form-control {
    background-color transparent
    placeholder(#fff)
  }
  .btn {
    font-weight bold
    text-transform uppercase
    font-size 1.2rem
    line-height 1.41
    padding 20px
    margin-top 18px

    [data-icon],
    [class~="icon"] {
      margin-left 6px
    }
  }
  .help-note {
    display block
    width 370px
    position absolute
    left 0
    bottom -40px
    text-align center
    color #fff

    a {
      color #fff

      &:hover {
        color brand-primary
      }
    }
  }
}

.jquery-modal.blocker {
  z-index 1010 !important
}
