//
// Slider
// --------------------------------------------------

.ui-slider {
  position: relative;
  text-align: left;
  background-color #d5d5d5
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 15px;
  height: 8px;
  cursor: default;
  touch-action: none;
  background url(../img/static/slider-handle-arrow.svg) no-repeat center/15px 8px
  outline 0
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-color brand-primary
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: 5px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 5px;
  margin-left: -7px;
}
.ui-slider-horizontal .ui-slider-handle:last-child {
  margin-left -8px
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
