//
// Layouts / Site Footer
// -------------------------------------------------- //

.site-footer {
  flex-shrink 0
  letter-spacing 0.02em

  .footer-content {
    margin 0 30px
    padding 42px 0 55px
    border-top 1px solid #e5e5e5
    clearfix()

    @media (max-width: screen-sm-max) {
      padding-bottom 39px

      .nav-column {
        float none

        .categories-nav,
        .pages-nav {
          h3 {
          font-size 2.2rem
          }
          ul {
            font-size 1.6rem
          }
          li {
            margin-bottom 15px
          }
        }
        .pages-nav {
          width 110px
        }
      }
      .info-column {
        float none
        border-left 0
        padding 60px 0 0
        width auto

        .text-logo {
          font-size 2.4rem
        }
        .footer-site-slogan,
        .copyright {
          font-size 1.6rem
        }
      }
    }

    .nav-column {
      float left
      padding-top 10px
      clearfix()

      .categories-nav {
        float left
        width 290px

        h3 {
          text-transform uppercase
          font-size 1.4rem
          line-height 1
          font-weight bold
          margin 0 0 18px
        }
        ul {
          margin 0
          padding 0
          list-style none
          font-size 1.2rem
          line-height 1
        }
        li {
          display block
          float left
          width 50%
          margin-bottom 10px
        }
        a {
          text-decoration none
        }
      }
      .pages-nav {
        float left
        width 150px

        h3 {
          text-transform uppercase
          font-size 1.4rem
          line-height 1
          font-weight bold
          margin 0 0 18px
        }
        ul {
          margin 0
          padding 0
          list-style none
          font-size 1.2rem
          line-height 1
        }
        li {
          display block
          margin-bottom 10px
        }
        a {
          text-decoration none
        }
      }
    }
    .info-column {
      float right
      border-left 1px solid #e8e8e8
      padding 12px 30px 25px 35px
      width 220px

      .text-logo {
        display block
        text-transform uppercase
        font-weight bold
        margin-bottom 12px
      }
      .footer-site-slogan {
        display block
        font-size 1.2rem
        margin-bottom 5px
      }
      .copyright {
        display block
        font-size 1.2rem
        margin-bottom 20px
      }
      .footer-socials {
        list-style none
        margin 0
        padding 0

        li {
          display inline-block
          margin-right 12px
        }
        a {
          display inline-block
          width 32px
          height 32px
          line-height 32px
          text-align center
          background-color brand-primary
          color #fff

          &:hover {
            background-color mix(brand-primary, #000, 90%)
          }
          [class~="icon"],
          [data-icon] {
            width 14px
            height 14px
            vertical-align -2px
          }
        }
      }
    }
  }
}
