//
// Variables
// -------------------------------------------------- //


// == Colors
//

brand-primary   =       #fbb20e
brand-secondary =       #b3cf2a
brand-success   =       #3c763d
brand-info      =       #31708f
brand-warning   =       #E5BD1D
brand-danger    =       #e61100


// == Scaffolding
//
// ## Settings for some of the most global styles.
//

// ** Background color for `<body>`.
body-bg =               #fff
// ** Global text color on `<body>`.
text-color =            #2a2a2a
// ** Global textual link color.
link-color =            text-color
// ** Link hover color.
link-hover-color =      lighten(text-color, 20%)
// ** Link hover decoration.
link-hover-decoration = none

// == Typography
//
// ## Font, line-height, and color for body text, headings, and more.
//

font-family-sans-serif =        Lato, Roboto, Helvetica, Arial, sans-serif
font-family-serif =             Georgia, "Times New Roman", Times, serif
// ** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
font-family-monospace =         Menlo, Monaco, Consolas, "Courier New", monospace
font-family-base =              font-family-sans-serif

font-size-base =          1.4rem

//** Unit-less `line-height` for use in components like buttons.
line-height-base =        1.5 // 21/14

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
line-height-computed =    floor((font-size-base * line-height-base)) // ~19px

font-size-h1 =            floor((font-size-base * 3.143))
font-size-h2 =            ceil((font-size-base * 1.714))
font-size-h3 =            ceil((font-size-base * 1.714))
font-size-h4 =            floor((font-size-base * 1.286))
font-size-h5 =            font-size-base
font-size-h6 =            ceil((font-size-base * 0.857))

// ** By default, this inherits from the `<body>`.
headings-font-family =    font-family-base
headings-font-weight =    600
headings-line-height =    1.1
headings-color =          inherit


// == Media queries breakpoints
//
// ## Define the breakpoints at which your layout will change, adapting to different screen sizes.
//

// Extra small screen / phone
screen-xs =                  480px
screen-xs-min =              screen-xs

// Small screen / tablet
screen-sm =                  640px
screen-sm-min =              screen-sm

// Medium screen / desktop
screen-md =                  960px
screen-md-min =              screen-md

// Large screen / wide desktop
screen-lg =                  1200px
screen-lg-min =              screen-lg

//  So media queries don't overlap when required, provide a maximum
screen-xs-max =              (screen-sm-min - 1)
screen-sm-max =              (screen-md-min - 1)
screen-md-max =              (screen-lg-min - 1)

//** Point at which the navbar becomes uncollapsed.
grid-float-breakpoint =     screen-sm-min
//** Point at which the navbar begins collapsing.
grid-float-breakpoint-max = (grid-float-breakpoint - 1)


//== Type
//
//##

//** Headings small color
headings-small-color =        #999
// //** Abbreviations and acronyms border color
// abbr-border-color =           #999
// //** Blockquote small color
// blockquote-small-color =      inherit
// //** Blockquote font size
// blockquote-font-size =        (font-size-base * 1.25)
// //** Blockquote border color
// blockquote-border-color =     #999


// == Miscellaneous
//
// ##
//

// ** Horizontal line color.
hr-border =                #eee

//== Forms
//
//##

//** `<input>` background color
input-bg =                       #fff
//** `<input disabled>` background color
input-bg-disabled =              #eee

//** Text color for `<input>`s
input-color =                    #ababab
//** `<input>` border color
input-border =                   #e6ebed

//** Default `.form-control` border radius
input-border-radius =            0

//** Placeholder text color
input-color-placeholder =        input-color

//** Default `.form-control` height
input-height-base =              50px
//** Large `.form-control` height
//input-height-large =             (ceil(font-size-large * line-height-large) + (padding-large-vertical * 2) + 2)
//** Small `.form-control` height
//input-height-small =             (floor(font-size-small * line-height-small) + (padding-small-vertical * 2) + 2)

// legend-color =                   #a7a7a7
// legend-border-color =            brand-primary

//** Disabled cursor for form controls and buttons.
cursor-disabled =                not-allowed


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

btn-font-weight =                400

btn-default-color =              #fff
btn-default-bg =                 transparent
btn-default-border =             #fff

btn-primary-color =              #000
btn-primary-bg =                 brand-primary
btn-primary-border =             brand-primary

// btn-secondary-color =            #fff
// btn-secondary-bg =               brand-secondary
// btn-secondary-border =           #c2dd40

// btn-success-color =              #fff
// btn-success-bg =                 brand-success
// btn-success-border =             darken(btn-success-bg, 5%)
//
// btn-info-color =                 #fff
// btn-info-bg =                    brand-info
// btn-info-border =                darken(btn-info-bg, 5%)
//
// btn-warning-color =              #fff
// btn-warning-bg =                 brand-warning
// btn-warning-border =             darken(btn-warning-bg, 5%)
//
// btn-danger-color =               #fff
// btn-danger-bg =                  brand-danger
// btn-danger-border =              darken(btn-danger-bg, 5%)

btn-link-disabled-color =        #999


//== Pagination
//
//##

// pagination-color =                     #484848
// pagination-bg =                        transparent
// pagination-border =                    transparent
//
// pagination-hover-color =               #15accb
// pagination-hover-bg =                  transparent
// pagination-hover-border =              transparent
//
// pagination-active-color =              #15accb
// pagination-active-bg =                 transparent
// pagination-active-border =             transparent
//
// pagination-disabled-color =            #999
// pagination-disabled-bg =               transparent
// pagination-disabled-border =           #ddd


//== Modals
//
//##

//** Modal backdrop opacity
modal-backdrop-opacity =      1

zindex-modal-background =  1040
zindex-modal =             1050


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

// @state-success-text:             #3c763d;
// @state-success-bg:               #dff0d8;
// @state-success-border:           darken(spin(@state-success-bg, -10), 5%);

// @state-info-text:                #31708f;
// @state-info-bg:                  #d9edf7;
// @state-info-border:              darken(spin(@state-info-bg, -10), 7%);

// @state-warning-text:             #8a6d3b;
// @state-warning-bg:               #fcf8e3;
// @state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

state-danger-text =              #fd9594
state-danger-bg =                rgba(247,180,180,.39)
state-danger-border =            #ff6868


//== Tooltips
//
//##

//** Tooltip max width
tooltip-max-width =           172px
//** Tooltip text color
tooltip-color =               rgba(0,0,0,.7)
//** Tooltip background color
tooltip-bg =                  #fff
tooltip-opacity =             1

//** Tooltip arrow width
tooltip-arrow-width =         11px
//** Tooltip arrow color
tooltip-arrow-color =         tooltip-bg

zindex-tooltip =              1070


//== Breadcrumbs
//
//##

//** Breadcrumb text color
breadcrumb-color =              #bdbdbd
//** Text color of current page in the breadcrumb
breadcrumb-active-color =       #bdbdbd
//** Textual separator for between breadcrumb elements
breadcrumb-separator =          "/"
